<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brand ID</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

      <img src="<%= img%>" alt="uploaded image" />

      <form action="/" enctype="multipart/form-data" method="post">
      <input type="file" name="file-to-upload" />
      <input type="submit" value="Upload" />
    </form>
    <ul>
      <% for(let i=0; i < brands.length; i++) { %>
        <h1><%= brands[i].name%></h1>
        <li><%= brands[i].name%> with <%= brands[i].confidence.toFixed(2)%> confidence%></li>
      <% } %>
    </ul>
  </body>
</html>
